#contentAudio {
    background-color: black;
    display: flex;
    justify-content: space-between;
    max-width: 30%;
    margin: 0 auto;
    border-radius: 10px;
}

button {
    background: none;
    border: none;
    padding: 1rem;
    border-radius: 10px;
}

button i {
    color: white;
    font-size: 2rem;
}

button:active {
    background-color: #131313;
}