:root {
    --fondo: #101820;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--fondo);
    margin: 0;
    color: white;
    min-height: 100vh;
    position: relative;
    font-family: "Poppins", serif;
    display: flex;
    flex-flow: column;
}

svg {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

header nav a {
    display: block;
}

header {
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 3rem;
    z-index: 10;
}

/*Ocultamos el checkbox*/
#hamburguesa-checkbox,
#hamburguesa-checkbox-cerrar,
#checkbox-nav {
    display: none;
}

.icon-menu {
    width: 20px;
    height: auto;
    fill: white;
}

header #menu-desplegable::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background: var(--fondo);
    z-index: 10;
}

#menu-desplegable {
    position: relative;
}

#menu-desplegable nav {
    display: flex;
    flex-flow: column;
    background-color: #32363b;
    position: absolute;
    top: -3.6vw;
    left: -75vw;
    width: 70vw;
    height: 100vh;
    transition: left 0.3s ease-in;
}

#hamburguesa-checkbox:checked+label+nav {
    left: -3.3vw;
}

ul {
    list-style-type: none;
    padding: 0;
}

#search-login> :first-child {
    margin-right: 1rem;
}

#menu-desplegable nav>div {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

header #menu-desplegable nav ul li a {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    border-radius: 10px;
}

header #menu-desplegable nav ul li a:active {
    background-color: var(--fondo);
}

header #menu-desplegable nav ul li a svg {
    margin-right: 1.5rem;
}

/*AQUÍIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/
main {
    padding-top: 7.1rem;
    flex-grow: 1;
}

main div#carousel {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

main div#carousel img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
    /* Evita que las imágenes se encojan */
    animation: carousel 40s infinite;
}

/* Animación para hacer el carrusel deslizante */
@keyframes carousel {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Control de visibilidad con delay para cada imagen */
main div#carousel img:nth-child(1) {
    animation-delay: 0s;
}

main div#carousel img:nth-child(2) {
    animation-delay: 0s;
}

main div#carousel img:nth-child(3) {
    animation-delay: 0s;
}

main div#carousel img:nth-child(4) {
    animation-delay: 0s;
}

main div#carousel img:nth-child(5) {
    animation-delay: 0s;
}

main div#animes h3{
    margin: 2rem 1rem;
}

main div#animes img{
    width: 150px;
}

.content-animme {
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
}

main div#animes p{
    margin-top: 0;
}

footer {
    width: 100%;
    background-color: black;
    padding: 10px 0;
    display: flex;
    flex-flow: column;
    height: 30vh;
}

footer #redes-socials {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

footer #redes-socials>:nth-child(1) {
    margin-left: 2rem;
}

footer #redes-socials>:nth-child(4) {
    margin-right: 2rem;
}

footer #terms-conditions {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

footer #terms-conditions a {
    font-size: .8rem;
    margin-bottom: 1rem;
}

footer #terms-conditions>a>span {
    text-decoration: underline;
    font-weight: 100;
}

footer #terms-conditions>:nth-child(1),
footer #terms-conditions>:nth-child(2) {
    margin-top: .5rem;
    flex: 1 0 50%;
}

footer #terms-conditions>:nth-child(3),
footer #terms-conditions>:nth-child(4),
footer #terms-conditions>:nth-child(5) {
    flex: 1 0 33%;
}

footer #terms-conditions>:nth-child(6),
footer #terms-conditions>:nth-child(7),
footer #terms-conditions>:nth-child(8) {
    flex: 1 0 33%;
}

footer #terms-conditions>:nth-child(9) {
    flex: 1 0 100%;
    margin: 0;
}