* {
    box-sizing: border-box;
}

body {
    background-color: #686868;
    font-family: Arial,sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.25rem;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul.menu {
    background-color: #ACACAC;
    border: 1px solid #FFF;
}

ul.menu>li {
    background-color: #C9830A;
    margin: .62rem;
    border: 1px solid #FFF;
    padding: .62rem;
}