* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main, form {
    display: flex;
    flex-flow: column;
}

main {
    max-width: 75vw;
    align-items: center;
    margin: 0 auto;
}

main h2 {
    text-align: center;
}

form input, select {
    margin-bottom: 1rem;
    padding: .5rem 0;
}

select {
    background-color: white;
}

form input {
    padding: .5rem 0;
}

form input[type="submit"] {
    background-color: black;
    color: white;
    align-self: center;
    border: none;
    padding: 1rem 2rem;
}

form div input, form div select {
    border: none;
    margin: 0;
}

form div {
    border: 1px solid gray;
    display: flex;
    align-items: center;
}

 form div select {
    flex: 0 0 20%;
 }

 form div input {
    flex: 1;
 }