* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

.item-oferta img {
        max-width: 100%;
}

div#contenido {
    display: flex;
    flex-flow: column;
}

section#ofertas, article.item-oferta  {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

article.item-oferta {
    padding: 1rem;
    max-width: 25rem;
}

.item-oferta h3,
.item-oferta p,
.item-oferta button.boton-cesta {
    text-align: center;
}

.item-oferta h3,
.item-oferta img {
    order: -1;
}

article {
    border: 1px solid black;
    border-radius: 20px;
}

button.boton-cesta {
    padding: .5rem 2rem;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    flex: 0 40%;
    align-self: center;
    margin-top: auto;
    margin-bottom: 2rem;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
}

@media(min-width: 500px) {
    section#ofertas {
        flex-flow: row;
    }

    button.boton-cesta {
        flex: 0;
    }
}