* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul.menu>li {
    background-color: #27A2db;
    border: solid 1px white;
    padding: 1rem;
    text-align: center;
}

@media(min-width: 400px) {
    ul.menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media(min-width: 1024px) {
    
}