* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #27A2db;
}
ul.menu>li {
    border-top: solid .3px rgb(189, 188, 188);
    padding: 1rem;
    text-align: center;
}

@media(min-width: 600px) {
    ul.menu {
        flex-direction: row;
        justify-content: space-evenly;
    }
    ul.menu>li {
        border: none;
    }
}

@media(min-width: 1024px) {
    ul.menu {
        justify-content: flex-end;
    }
}