* {
    box-sizing: border-box;
}

body {
    background-color: #686868;
    font-family: Arial,sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.25rem;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul.menu {
    background-color: #ACACAC;
    border: 1px solid #FFF;
    display: flex;
    flex-flow: row wrap;
    /*Cuando no haya espacio en el eje transversal:
    Se va para abajo cuando no quepa*/
    justify-content: space-evenly;
    height: 60vh;
    align-items: stretch;
}

ul.menu>li {
    background-color: #C9830A;
    margin: .62rem;
    border: 1px solid #FFF;
    padding: .62rem;
}

ul.menu>li:nth-child(1) {
    background-color: red;
    align-items: flex-start;
}